.vscode/

*swp

ex2/mpi/myfiles/
ex2/mpi/jacobi_mpi 
ex2/mpi/utils.o

ex2/mpi/jacobi_mpi_conv 
ex2/mpi/jacobi_mpi_NO_conv 
ex2/mpi/red_black_mpi_conv 
ex2/mpi/red_black_mpi_NO_conv 
ex2/mpi/gauss_seidel_mpi_NO_conv 
ex2/mpi/gauss_seidel_mpi_conv
ex2/mpi/temp
ex2/temp

ex2/serial/jacobi 
ex2/serial/seidelsor 
ex2/serial/redblacksor 
ex2/serial/jacobi_NO_conv 
ex2/serial/seidelsor_NO_conv 
ex2/serial/redblacksor_NO_conv

ex3/z1/accounts

ex3/z2/tas
ex3/z2/ttas
ex3/z2/array
ex3/z2/nosync
ex3/z2/pthread

ex3/z3/fgl 
ex3/z3/lazy
ex3/z3/nb
ex3/z3/opt
ex3/z3/serial


